<p>tcp-protocal-range works!</p>
<form>
  <div *ngFor="let range of portRanges.controls; let i = index;">
    <select [formControl]="range.controls.protocol" >
      <option *ngFor="let protocol of protocolOptions" [ngValue]="protocol">{{protocol}}</option>
    </select>
    <input required type="number" min="0" max="65535" [formControl]="range.controls.destLow">
    <input required type="number" [min]="(range.controls.destLow.value || 0) + 1" [formControl]="range.controls.destHigh">
    <button (click)="onRemoveDestinationPort(i)">-</button>
  </div>
  <p *ngIf="!portRanges.valid">Invalid</p>
</form>



<button (click)="onAddDestinationPort()">Add ports</button>
