<p>tcp-protocal-range works!</p>
<form #portForm="ngForm">
  <div *ngFor="let range of portRanges; let i = index;">
    <select name="protocol{{i}}" [(ngModel)]="range.protocol" >
      <option *ngFor="let protocol of protocolOptions" [ngValue]="protocol">{{protocol}}</option>
    </select>
    <input required type="number" min="0" max="65535" name="destLow{{i}}" [(ngModel)]="range.destLow">
    <input required type="number" [min]="(range.destLow || 0) + 1" max="65536" name="destTo{{i}}" [(ngModel)]="range.destHigh">
    <button (click)="onRemoveDestinationPort(i)">-</button>
  </div>
  <p *ngIf="!portForm.valid">Invalid</p>
</form>



<button (click)="onAddDestinationPort()">Add ports</button>
